#formacao {
    .formacao-content {
        margin-top: 2rem;
        width: 80%;
    }
    ul{
        margin-left: 2.5rem;
        list-style: none;
    }
    ul li {
        padding: 1rem 2rem;
        font-size: 1.5rem;
        border-radius: 2rem;
        margin-bottom: 3rem;
        border: 2px solid var(--secondary);
        transition: all .8s ease-in-out;
    }
    ul li:hover {
        background-color: var(--secondary);
        color: var(--text-color);
        transition: all .5s;
    }
    h2 {
        font-size: 2rem;
        margin: 2rem 0;
        text-align: center;
        color: var(--primary);
    }
    .formacao-content .linha-section {
        margin: -20px 50% 2rem 50%;
        transform: translateX(-50%);
        width: 6%;
    }
}